.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width:780px) {
    .products-container{
      display: flex;
      flex-direction: column;
    }
}
