.cart-container{
    background-color:#ff99005f;
    padding: 20px;
    text-align: left;
}
.cart{
   
    position: sticky;
    top: 10px;
   
}
.clear-btn{
    background-color:#FF3030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    color: white;
}
.checkout-btn{
    background-color:#FF9900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    border-radius: 3px;
    color: white;
}