.product{
    background-color:rgb(242, 239, 239);
    border-radius: 9px;
    border: 1px solid black;
    text-align: start;
    position: relative;
}
.product-details{
    padding: 10px;
    margin-bottom:40px;
}
.product img{
    width:100%;
    border-radius:6px;

}
.heading{
    font-weight: 650;
    font-size: 18px;
}
.price{
    font-weight: 600;
    margin-bottom: 60px;
}
.product button{
    width: 100%;
    background-color:#FFE0B3;
    border-radius:0px 0px 8px 8px;
    position: absolute;
    bottom: 0px;
}